@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap');
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.first{
    width: 100%;
    height: 100%;
    margin: auto;
}
.intro{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(./Images/team.jpg) no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
}
.intro .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content{
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    
}
.content h1{
    font-family: 'Bebas Neue',cursive;
    color: #bf084e;
    text-shadow: 0px 0px 300px #000;
    font-size: 400%;
}
.content h2{
    color: #000;
    font-size: 250%;
    font-family: 'Bebas Neue',cursive;

}
.btn{
    font-family: 'Bebas Neue',cursive;
    color: #f9f3f4;
    font-size: 140%;
    padding: 10px 20px;
    background-color: #bb084cf5;
    text-decoration: none;
}
.btn:hover{
    background-color:#a8456bc0;
}
p{
    font-size: 150%;
    line-height: 200%;
    text-align:justify;
    margin: 2%;
    font-family: 'Noto Sans SC',sans-serif;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: wrap;
}
.para{
    background-color: #f8ddf8;
    width: 1300px;
    padding: 25px 30px;
    text-align: center;
    margin: 2% auto;
    left: 50%;
    top: 50%;
}
.para h2{
    font-size: 250%;
    color: #5c025c;
}
span{
    font-size: 160%;
    color: rgb(252, 69, 160);
}
@media screen and (max-width:768px){
    .content{
        margin-left: 3%;
    }
    .content h1{
        font-size: 300%;
    }
    .content h2{
        font-size: 195%;
    }
    .btn{
    font-size: 120%;
    padding: 8px 16px;
    }
    p{
    font-size: 120%;
    line-height: 160%;
    margin: 4%;
    }
}
